; <?php exit; ?>
[hosts]
teamhost = "plugin.abc.iliaspad.ch"
teamsubdomain = "plugin"
usehttps = "1"
[accounts]
teamuser = "plugin@abc.iliaspad.ch"
teampassword = ""
iliaspadpassword = ""
[proxy]
proxyhost = ""
proxyport = ""
useproxy = "0"
[template]
scrolling = 1